/*  your css code here. If applicable */
body{
	background-color:#a164df;
}
#button{
	width:100%;
	display:flex;
	justify-content:space-around;
	align-items:center;
	
	margin: 50px auto;
}
.btn,.stop{
	background-color:#663399;
	color:#ffff;
	font-size:16px;
	padding:10px 20px;
	cursor:pointer;
	border:none;
}